.app__container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.app__container h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.alpaca__container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px; */
  display: flex;
}

.alpaca__container-left {
  flex: 0.5;
  margin-right: 20px;
  height: 550px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.alpaca__container-left .container {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.alpaca__container-left .buttons__container {
  flex: 0.2;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.alpaca__container-right {
  flex: 0.5;
}

.alpaca__container-right .accesorize__container {
  margin-bottom: 20px;
  flex: 1;
}

/* .drawing__container {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.accesorize__container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.style__container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
} */

.custom__buttons {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: transparent;
  border: 1px solid darkblue;
  cursor: pointer;
  transition: 0.5s ease;
  margin: 3px;
}

.custom__buttons:hover {
  background: darkblue;
  color: #fff;
}

/* For Buttons */
.active {
  background-color: darkblue;
  color: #fff;
}


@media screen and (max-width: 1050px) {
  .app__container {
    width: 80%;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .app__container {
    width: 90%;
  }

  .alpaca__container-left {
    height: 400px;
  }
}

@media screen and (max-width: 490px) {
  .app__container {
    width: 100%;
    padding: 1rem;
  }

  .app__container h2 {
    font-size: 32px;
  }

  .alpaca__container {
    display: flex;
    flex-direction: column;
  }

  .alpaca__container-left {
    /* min-height: 400px; */
    min-height: 50vh;
  }

  .custom__buttons {
    padding: 10px 20px;
  }
}