.app__container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.app__container h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.alpaca__container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px; */
  display: flex;
}

.alpaca__container-left {
  flex: 0.5;
  margin-right: 20px;
}

.alpaca__container-right {
  flex: 0.5;
}

.alpaca__container-right .accesorize__container {
  margin-bottom: 20px;
  flex: 1;
}

/* .drawing__container {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.accesorize__container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.style__container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
} */

.custom__buttons {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: transparent;
  border: 1px solid darkblue;
  cursor: pointer;
  transition: 0.5s ease;
  margin: 3px;
}

.custom__buttons:hover {
  background: darkblue;
  color: #fff;
}

/* For Buttons */
.active {
  background-color: darkblue;
  color: #fff;
}

@media screen and (max-width: 1050px) {
  .app__container {
    width: 80%;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .app__container {
    width: 90%;
  }
}

@media screen and (max-width: 490px) {
  .app__container {
    width: 100%;
    padding: 1rem;
  }
  .custom__buttons {
    padding: 5px 10px;
  }
}